# Dependencies
node_modules/
package-lock.json
yarn.lock

# Vercel
.vercel

# Environment variables
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
*.tmp
.cache/
